.topHeading {
  color: #5c0595;
  font-size: 3rem;
  margin-bottom: 20px;
}

.container {
  padding: 50px 30px;
  text-align: center;
  width: 100%;
  background-color: rgb(187, 178, 190);
  min-height: 85vh;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
}

.heading {
  margin: 0 auto;
  max-width: 500px;
  color: #000;
  font-size: 3.1rem;
  line-height: 4.1rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.heading span {
  background-clip: text;
  background-image: linear-gradient(to right, #5c0595, #360358);
  color: transparent;
}

.right img {
  width: 700px;
  height: 500px;
  animation: motionUpDown 2s infinite alternate ease-in-out;
}

@keyframes motionUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

.right img:hover {
  animation: motionUpDownHover 2s infinite alternate ease-in-out;
}

@keyframes motionUpDownHover {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.left p {
  animation: textMotionLeftToRight 2s infinite alternate ease-in-out;
}

@keyframes textMotionLeftToRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10px);
  }
}
